<br>
<h2>{{title}}</h2>
<hr>

<div class="container">
    <div class="row align-items-start">
        <div class="col card m-2">
            <div class="card-header">
                <strong>Hotel</strong>
            </div>
            <div class="card-body">
                <p class="card-text">{{hotel.name}}</p>
                <p class="card-text">{{hotel.price | currency}}</p>
            </div>
        </div>
        <div class="col card m-2">
            <div class="card-header">
                <strong> Vuelo</strong>
            </div>
            <div class="card-body">
                <p class="card-text"></p>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>