
<br>
<h2>Mis Reservas</h2>
<hr>
<div *ngIf="!bookingList">
    Cargando listado de reservas ....
</div>

<div *ngIf="bookingList">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of bookingList">
                <th scope="row">{{booking.id}}</th>
                <td>{{booking.name}}</td>
                <td>{{booking.date | date:"medium"}}</td>
                <td>
                    <div class="modal-container">                  
                        <button (click)="openModal(booking.id, booking.hotelId , booking.flightId)" class="btn btn-md btn-danger">Details</button>
                        <div #modal></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>