<br>
<h2>{{title}}</h2>
<hr>

<div class="container">
    <div class="row align-items-start">
        <div class="col card m-2">
            <div class="card-header">
                <strong>Hotel</strong>
            </div>
            <div class="card-body">
                <p class="card-text">{{hotel.name}}</p>
                <p class="card-text">{{hotel.price | currency}}</p>
            </div>
        </div>
        <div class="col card m-2">
            <div class="card-header">
                <strong>Vuelo</strong>
            </div>
            <div class="card-body">
                <p class="card-text">{{flight.company}}, {{flight.date | date:"medium"}}</p>
                <p class="card-text">{{flight.price | currency}}</p>
            </div>
        </div>
    </div>
</div>

<div class="col card m-4 p-3">

    <form #formFlight="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-flight">
        <label>
            Documento:
            <span *ngIf="!dni.valid && dni.touched" class="label label-danger">El documento es obligatorio</span>
        </label>
        <input type="text" #dni="ngModel" name="dni" [(ngModel)]="booking.dni" class="form-control" required />
        <br>
        <label>
            Nombre:
            <span *ngIf="!name.valid && name.touched" class="label label-danger">El nombre es obligatorio</span>
        </label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="booking.name" class="form-control" required />

        <br/>
	<input type="submit" value="Guardar Reserva" [disabled]="!formFlight.form.valid" class="btn btn-success"/>
    </form>
</div>